<div>

    <h3>Tools and Materials That You Will Need to Repair Model Trains</h3>

    <p>
        I have, in the past several years, accumulated a cadre of tools and materials 
        that I consider essential to maintaining and repairing model electric trains. 
        They are:
    </p>

    <ol>
        <li *ngFor="let tool of tools">
            <span>{{ tool.description }}</span>
        </li>
    </ol>

    <h3>General notes on your work area:</h3>

    <p>
        Good lighting is a must!!! Plenty of light right on the job will save you 
        frustration because you can see what you're doing and also what might be 
        wrong inside the unit under repair. A strong surface such as a work bench or 
        sturdy table is important. A card table is too flimsy except for occasional 
        projects. The correct height chair if you like to sit or a high table if you 
        prefer to stand is important for comfort and no stress on the back. Many repair 
        jobs take several hours of concentrated effort and you don't want to get tired 
        halfway through.
    </p>

    <p>
        Good ventilation. There are times when soldering will produce noxious fumes that 
        may irritate your eyes or nose.
    </p>

    <p>
        Have a pencil and paper handy to make sketches of wiring or the way something goes 
        together. You may not get around to finishing the job right away and the memory can't 
        always be trusted. Also make a list of repair parts you need as you proceed.
    </p>

    <p>
        Find a source of repair parts and a knowledgeable person who can advise you when things 
        get tough and you need a part to get that locomotive back on line. There are many good 
        reproduction parts available to replace worn or lost original pieces. Don't use the wrong 
        screw even temporarily because it may ruin the threads for future use of the correct part.
    </p>

    <p>
        Have access to a small child with eagle eyes to find those teeny parts that always fall on 
        the floor at the wrong time.
    </p>

    <p>
        There are, undoubtedly, specialized tools that I have omitted or something you consider 
        indispensable. However, I can safely state, if you have all of the above tools and materials, 
        you can maintain and repair most of your engines, cars, and accessories.
    </p>


</div>