<div>
<img class="aboutmepic" src="assets/imgs/boy_aboutme.jpg">
</div>

<div class="body">

    <p>Short Biography of Jim "Jimbo" Weatherford</p>

    <p>
        I received my first Lionel train set for Christmas in 1953 when I was eight years old.
        (I'll let you figure out how old I am now!) It was revered and played with for several
        years until higher priority things held my interest; like school, cars, etc. Fortunately,
        my train was kept in the family and I regained possession when I married.
    </p>
    
    <p>
        1982 came along and we gave our son my train for his seventh birthday. I was interested in 
        doing some minor repair on the locomotive and was introduced to some very knowledgeable people 
        through the local train club here in San Diego (the All Gauge Toy Train Association) where I 
        learned about model trains. I started buying used items that needed repair and found I enjoyed 
        taking things apart to see how they worked (undoubtedly a personality trait carried over from 
        childhood. My father never did forgive me for disassembling his electric drill.). I thought I 
        should start documenting the repairs and that progressed to writing helpful repair hints for the 
        club's newsletter. I became friends with the owner of the local hobby shop where I would buy old cabooses
        and used 0-27 track. I offered to be their repairman; it worked out well for all parties.
    </p>

    <p>
        Since I was a member of the Toy Train Operating Society, Southern Pacific Division, in Los Angeles, I 
        began writing repair hints for their newsletter, the Daylighter. Soon, I was writing longer and more 
        detailed articles for maintenance and repair of differenting operating cars, accessories, transformers, 
        locomotives, and tenders.
    </p>

    <p>
        I met Dave Otth through the TTOS and found we had a mutual interest in the production of videos for the 
        repair of Lionel model trains. A partnership was formed where Dave produced the videos and I repaired trains 
        in the studio. Together, we produced four videos from 1989 to 1991, volumes 1-3 are 60 minutes each and 
        volume 4 is 30 minutes.
    </p>

    <p>
        My writing and the videos attracted the interest of Dick Christianson, the then editor of the Classic Toy 
        Trains magazine. He offered me the opportunity to take over the Questions and Answers column for the magazine 
        which I did from 1993 to July of 1999.
    </p>

    <p>
        I've been working on the internet since it first became practical in the early 1980's. It finally evolved 
        to a technology that offered unlimited opportunities for information dissemination and that interested me 
        since I've always like to share my hobby. That led to creating this site for those interested in fixing and 
        maintaining toy trains.
    </p>

</div>