<div>
  <img src="assets/imgs/indexbanner.jpg" class="center">
</div>

<div id="navigation">
  <nav>
    <table>

      <tr>
        <a routerLink="/home">Home</a>
      </tr>

      <tr>
        <a routerLink="/articles">How to order articles</a>
      </tr>

      <tr>
        <a routerLink="/aboutme">About Me</a>
      </tr>

      <tr>
        <a routerLink="/tools_and_materials">Tools and Materials</a>
      </tr>

      <tr>
        <a routerLink="/technical_tips">Technical Tips</a>
      </tr>

      <tr>
        <a routerLink="/interesting_links">Interesting Links</a>
      </tr>

      <tr>
        <a routerLink="/bulb_list">Light Bulb Index</a>
      </tr>

    </table>
  </nav>
</div>

<router-outlet></router-outlet>