<h2>How to order articles</h2>
<ol>
    <li>
        The articles are listed in four groups, i.e., locomotives, tenders, operating cars, and accessories.
        Select the group you wish to review from the menu on the left side of the web page.
    </li>

    <li>
        Browse the list to find the item you wish to order. (Pictures are available for most items to aid identification.)
        Make a note of the reference number and price of the article, e.g., the #736 Berkshire Locomotive L736 ($13.75) or the 
        #3469 Coal Dump Car is C3469 ($12.25) or the 6466W Whistling Tender is T6466W ($12.25). (Sales tax is included.)
    </li>

    <li>
        List each article's reference number and the price on a piece of paper, add up the subtotal, for addresses within the continental U.S.,
        add $2.00 ($4.55 for Air Priority) for shipping and handling for the grand total, and send me the list with a money order or cashier's check
        to:
    </li>

    <br>

    <Address>
        JWTRAINS<br>
        P.O. Box 601371<br>
        San Diego, CA 92160
    </Address>

    <p>
        <em>
            Addresses outside the continental U.S. should check the <a href="http://ircalc.usps.gov">international postal calculator</a>
            for shipping costs. There may also be custom duties.
        </em>
        <b>
            The packaged CD weighs only 1.5 ounces.
        </b>
    </p>
</ol>