<div>

    <h1>Build a Controller for the 165 or 182 Gantry Crane</h1>

    <p>
        I thought it would be difficult to build a 165C replacement controller until I looked closely 
        at the wiring diagram. You may recall that (contrary to the 282) you can rotate the cab and raise 
        or lower the hook simultaneously; you just have to be careful not to push the wrong two buttons or 
        the motor will stall. Well, I decided to improve on the controller design and reduce the switches 
        from five to three and eliminate two of the button combinations that stall the motor. A further 
        improvement is to add a Light Emitting Diode (LED) on the controller to indicate when the magnet 
        is actuated. This provides an indication that the magnet is on. I also decided to terminate transformer 
        power at the controller instead of the crane. Refer to the diagram for wiring details.
    </p>

    <p>Parts needed are:</p>

    <p>1 ea terminal strip with 6 screw posts (output to crane)</p>

    <p>1 ea terminal strip with 2 screw posts (input from transformer)</p>

    <p>
        1 ea single pole, single throw switch. This turns on the magnet and the cab light
        as well as the LED on the controller (part C in the diagram)
    </p>

    <p>
        2 ea double pole, double throw, center off momentary switches. (part A and part B 
        in the diagram) Switch 'A' in the "UP" position raises the cable and lowers the cable 
        in the "DOWN" position. (You can't operate both functions at once as in the original 
        controller because the switch turns one off while it turns the other on.) Switch 'B' 
        in the "UP" position. (This also eliminates another button combination that would stall 
        the motor.) You can operate both switches together in either both "UP" or both "DOWN".
    </p>

    <p>
        1 ea red LED with limiting resistor
    </p>

    <p>
        1 ea Utility Box 3"x2"x1.5" (or whatever size you wish)
    </p>

    <p>
        Note: Since we now are supplying power to the controller, we don't use the terminals 
        on the crane base at all. However, you MUST connect controller wire 6 to the crane ground.
    </p>
</div>

<div>
    <img class="diagram"src="assets/imgs/165C.JPG">
</div>