<div class="homebody">
    <h2>Do you want to repair your Lionel postwar trains?</h2>

    <p>
        The articles purchased through this web site will enable you to maintain your 0-27 and O gauge
        model trains. I am initially focusing on the period from 1946 through 1969, commonly known as the 
        Postwar Era. There were hundres of thousands of trains produced by Lionel during this era and there are 
        numerous third parties currently making replacement parts. So, potentially thousands of pieces can be put
        back in service, including yours.
    </p>

    <h2>Why should you buy my repair articles? CAUSE I'M AWESOME THATS WHY</h2>

    <p>
        Each article has detailed instructions with accompanying close-up pictures of how to disassemble the item,
        what tools are needed, how to service all the major components, e.g., motors, E-units, smoke units, power trucks,
        power pickup assemblies, and relays, how to test each component, and how to reassemble everything. Typically,
        the price of one article is less than what it would cost to have the item serviced by a qualifed repairman.
    </p>

    <p>
        I do not provide part numbers for all components since they are available through other publications. I do use 
        the correct name for the parts (either common or factory designated) so you can properly identify them when ordering.
    </p>

    <p>
        The executable program that runs on your personal computer also allows you to print copies of pages you may want to
        have at your workbench.
    </p>

    <h2>What does JWTRAINS.COM provide free?</h2>

    <p>
        You get a list of the tools I have found that allow me to complete 98% of the typical repairs; an index of light bulbs
        for all the Lionel Postwar locomotives, tenders, operating cars, accessories, and transformers; tips that answer 
        frequently asked questions; and interesting train-related puzzles.
    </p>

    <h2>Here's a typical example of how the site works</h2>

    <p>
        You have a locomotive (say it's a number 54 Ballast Tamper) that no longer performs correctly and you want to get it 
        running again.
    </p>

    <ol>
        <li>Click on <a href="">Locomotives</a></li>
        <li>Find 54 on the displayed list and click it</li>
        <li>Review the image to ensure it's like yours</li>
    </ol>

    <p>
        Once you decide you want the article, go to the <a routerLink="/articles">"How to order articles"</a> link for complete information.
    </p>

    <h2>How to read the articles</h2>

    <p>
        The articles are mailed to you on CD-ROMs. They are in an Electronic Book (Ebook) format that has the reader embedded in the file.
        (Click <a href="">here</a> to download a small sample to your PC.) All you have to do to open the file is to insert the CD into your 
        CD-ROM drive and it will automatically run the file. MacIntosh users must use their PC Emulator. 
    </p>

    <h2>You may find the <a href="">Light Bulb Index</a></h2>

    <p>
        to contain useful information. I've listed the bulb type for all the Lionel Postwar locomotives, tenders, operating cars
        accessories, and transformers. It's important to use the correct bulb to avoid damage to plastic parts.
    </p>

    <h2>Be sure to check out</h2>

    <p>
        the <a href="">Puzzle Fun</a> link. You can select the game difficult by clicking on the "change cut" bux on the left side 
        of the puzzle page.
    </p>

</div>
