<img id="imgfront" src="assets/imgs/vol2_front.JPG" alt="">
<img id="imgback" src="assets/imgs/vol2_back.JPG" alt="">

<div>

<p>
    Volume 1 Topics:
</p>

<p>
    Whistling Tenders, Smoke Units, Reversing Units, Relays, Roller Pickup Assemblies, Top Truck Performance, 
    and UCS Track Sections.
    <br>
    Duration: 60 Minutes
</p>

<p>
    Volume 2 Topics:
</p>

<p>
    F3 Maintenance, Steam Turbines, Motorized Units, Diesel Horns, Enhanced Smoke Unit, Engine Operating Tips, 
    and Slider Shoe Pickups.
    <br>
    Duration: 60 Minutes
</p>

<p>
    Volume 3 Topics:
</p>

<p>
    Steam Locomotives, Frame Mounted Motors, O Gauge Remote Control Switches and Controllers, ZW/VW Transformers
    <br>
    Duration: 60 Minutes
</p>

<p>
    Volume 4 Topics:
</p>

<p>
    Time Saving Repair Tools and Techniques, Safe Cleaners, Assorted Test Devices, Lubricants, Adhesives, and Restoring Tips
    <br>
    Duration: 30 Minutes
</p>

<p>
    Note: The videos are now available on DVD. The cost is:
    <br><br>
    Volume 1 $15.95
    <br>
    Volume 2 $15.95
    <br>
    Volume 3 $15.95
    <br>
    Volume 4 $7.95 or FREE if you order volumes 1, 2, and 3.
    <br>
</p>

<p>
    Please add $1.35 for each DVD shipping. I ship through the United States Postal Service only.
</p>

<p>
    Example: Vol's 1-4  $47.85
    <br>
    Shipping (4 x $1.35)  5.40
    <br>
    Total                $53.25
</p>

<p>
    <em>Send check or money order to:</em>
    <br>
</p>

<Address>
    JWTRAINS <br>
    P.O. Box 601371 <br>
    San Diego, CA 92160
</Address>

<p>
    Please include your email address with your order.
</p>

</div>